<table border="1">
  <thead>
    <tr>
      <th>店舗コード</th>
      <th>店舗名</th>
      <th>掛率</th>
      <th>店舗売上</th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
    <td><%= shop.company.name %></td>
       <% shop.each do |shopo| %>
       <tr>
         <td><%= shopo.shop_id %></td>
         <td><%= shopo.name %></td>
         <td><%= shopo.rate %></td>

           <% shopo.sales.each do |sale| %>
            <td><%= shopo.rate * 0.01 * sale.rate %></td>
           <% end %>
      </tr>
    <% end %>
    <% end %>  
  </tbody>
</table>